body .navbar {
    padding: 0;
}

body .navbar .container {
    padding: 8px;
    background: rgba(18, 18, 18, .96);
    border: 1px solid #212020;
    border-top: none;
}

body .navbar-brand {
    font-weight: 800;
    color: #ccc;
    margin-left: 15px;
    /*font-size: 1.8rem;*/
}

body .navbar .nav-link {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .8rem;
    padding: 10px 15px !important;
}

.navbar-nav>li:first-child {
    display: none;
}

.navbar-nav .nav-link.active {
    background: #212121;
}

html body {
    /*background-color: #121212;*/
    background: #0a0a0a url(images/body-bg.jpg) no-repeat center / cover fixed;
    color: #fff;
    font-family: "Montserrat", sans-serif;
}

.section * {
    padding: 0;
}

.row > div {
    margin: 0;
    padding: 0;
}

.padX {
    padding: 50px 0 25px;
}

.row h2 {
    font-weight: 800;
    color: #6f6e6e;
    font-size: 2.5rem;
    margin-bottom: 10px;
    letter-spacing: -2px;
}

.row h2.dotted {
    border-top: 1px dotted rgba(255, 255, 255, .2);
    padding-top: 40px;
}

.row h3 {
    font-weight: 700;
    color: #6f6e6e;
    font-size: 1.6rem;
    margin-bottom: 10px;
    letter-spacing: -1px;
}

.row h4 {
    color: #7d7d7d;
    font-size: 1rem;
}

.row p {
    font-size: 1.2rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.8);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}

.section {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.section.visible {
    opacity: 1;
}

#hero {
    padding: 0;
    position: relative;
}

#hero h1 {
    font-size: 4.5rem;
    font-weight: 700;
    letter-spacing: -2px;
}

#hero p {
    font-size: 2rem;
    margin-bottom: 0;
    font-weight: 700;
    color: #6f6e6e;
}

#hero .row {
    padding-bottom: 50px;
    height: 100vh;
}

#hero .profileImg {
    width: 90%;
}

.scrollTo {
    position: absolute;
    bottom: 50px;
    transform: translateX(-50%);
    left: 50%;
    transition: all 0.3s ease;
    animation: bounce 2s infinite;
    opacity: 0.3;
    display: block;
    width: 50px;
}

.scrollTo:hover {
    opacity: 0.7;
}

.scrollTo img {
    /*width: 50px;
    height: auto;*/
    display: block;
}

/*.row .dottedBox {
    padding: 30px 30px 10px;
    border: 1px dotted #2f2f2f;
}
*/
.row .dottedBox {}

.iconBox {
    display: inline-block;
    width: 90px;
    margin: 40px;
    transition: all 0.3s ease;
}

.iconBox:hover {
    transform: scale(110%);
}

.row .iconBox p {
    text-align: center;
    margin: 5px auto;
    color: #6d6c6c;
    font-size: 1rem;
}

/*.iconBox:hover .meter {
    opacity: 1;
    visibility: visible;
}*/

.iconBox .meter {
    height: 10px;
    background: #7d7d7d;
    width: 90%;
    margin: 0 auto;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s ease;
    /*opacity: 0;
    visibility: hidden;*/
    display: none;
}

.iconBox .meter:before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #393939;
}

.visible .iconBox .meter:before {
    animation: expand 2s ease-in-out 2s backwards;
}

/*.visible .iconBox:hover .meter:before {
    animation: expand 1s ease-in-out backwards;
}*/

.iconBox .meter.lvl4:before {
    max-width: 80%;
}

.iconBox .meter.lvl3:before {
    max-width: 60%;
}

.iconBox .meter.lvl2:before {
    max-width: 40%;
}

.iconBox .meter.lvl1:before {
    max-width: 20%;
}

/* lightbox modal */
.lightBox {
    margin-bottom: 25px;
}

.lightboxCard {
    width: calc(25% - 4px);
    text-align: center;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}

.lightboxCard > div:first-child {
    transition: all 0.3s ease;
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border: 1px solid #2b2b2b;
}

.lightboxCard > div:first-child:hover {
    transform: scale(105%);
    box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.85);
    -webkit-box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.85);
    -moz-box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.85);
}

.lightboxCard .img-thumb {
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.lightboxCard .thumbDesc {
    margin: 10px 0;
    display: none;
}

.lightboxCard #lightboxModal {
    background: rgba(0, 0, 0, 0.85);
}

.lightboxCard .modal-dialog {
    margin: auto;
    max-width: 800px;
    background: rgba(0, 0, 0, .75);
    padding: 0 20px;
}

.lightboxCard .modal-content {
    background: rgba(0, 0, 0, 0.75);
}

.lightboxCard .modal-header.Sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 0;
    padding: 0 15px;
}

.lightboxCard .modal-header,
.lightboxCard .modal-footer {
    border: none;
}

.lightboxCard .modal-body {
    margin: 0 0 10px;
    padding: 0;
}

.lightboxCard .modal-content .btn {
    border-radius: 0;
}

.lightboxCard .modal-content .modalCloseBtn {
    font-weight: 600;
    background: none;
    border: none;
    padding: 10px 0 10px 10px;
    color: #fff;
}

.lightboxCard .modal-footer {
    display: none;
}

/* lightbox modal END */

.xsml-icon-col {
    text-align: center;
    margin-top: 5px;
}

link.xsml {
    background-size: 100% auto;
    height: 24px;
    width: 24px;
    margin: 8px;
    display: inline-block;
    filter: grayscale(1);

}

link.xsml.html {
    background: url("images/icons/icon-html.svg");
}

link.xsml.css {
    background: url("images/icons/icon-css.svg");
}

link.xsml.bs {
    background: url("images/icons/icon-bootstrap.svg");
}

link.xsml.ps {
    background: url("images/icons/icon-ps.svg");
}

/* Animation */
@keyframes expand {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/* Animation */
@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideRight {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* bounce */
@keyframes bounce {

    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-15px);
    }

    60% {
        transform: translateY(-8px);
    }
}

.visible .slideLeft {
    animation: slideLeft 1.2s ease-out;
}

.visible .slideRight {
    animation: slideRight 1.2s ease-out;
}

.slideDown {
    animation: slideDown 1s ease-out;
}

.visible .slideUp {
    animation: slideUp 1s ease-in-out .5s backwards;
}

.slideUp.delayed {
    animation-delay: 1s;
}

.slideUp.delayed2 {
    animation-delay: 1.5s;
}

a.behanceLink {
    background: #0046cc;
    color: #fff;
    padding: 4px 8px;
    text-decoration: none;
    margin-left: 6px;
    transition: transform 0.3s ease;
    display: inline-block;
    margin: 6px;
}

a.behanceLink:hover {
    transform: scale(103%);
}

#contact h3 {
    /*font-weight: 300;*/
}

#contact p span {
    font-weight: 300;
    color: #6f6e6e;
}

#contact p a {
    text-decoration: none;
    color: #fff;
}

#contact p a:hover {
    text-decoration: underline;
}

a.resumeButton {
    display: inline-block;
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
    background: rgba(225, 225, 225, .05);
    padding: 15px 25px;
    border: 1px solid #292929;
    transition: all 0.3s ease;
}

a.resumeButton:hover {
    background: rgba(225, 225, 225, .075);
    transform: scale(105%);
}

.scrollTo.backTop {
    position: relative;
    bottom: auto;
    transform: rotate(-180deg);
    left: auto;
    animation: none;
    opacity: 0.3;
    width: auto;
    margin: 0 auto 30px;
}

.scrollTo.backTop:hover {
    opacity: 0.5;
}

.scrollTo.backTop img {
    width: 30px;
}

/* Media queries */
@media only screen and (min-width: 992px) {
    body .navbar-brand,
    .navbar-dark .navbar-nav .nav-link {
        transition: transform 0.2s ease;
    }

    body .navbar-brand:hover,
    .navbar-dark .navbar-nav .nav-link:hover {
        transform: scale(105%);
    }
}

@media only screen and (max-width: 991px) {
    #hero .row {
        height: auto;
        margin-top: 56px;
        padding: 30px 0;
    }

    #hero h1 {
        font-size: 3.5rem;
    }

    #hero .scrollTo {
        position: relative;
        margin: 0 auto;
        left: auto;
        transform: none;
        bottom: auto;
    }
}

@media only screen and (max-width: 767px) {
    #hero h1 {
        font-size: 2.5rem;
    }

    .scrollTo {
        bottom: 0;
    }
}

@media (min-width: 575px) and (max-width: 991px) {
    .iconBox {
       /* margin: 30px;*/
    }

    .lightboxCard {
        width: calc(33% - 4px);
    }
}

@media only screen and (max-width: 575px) {
    #hero, .row {
        text-align: center;
    }

    .row p {
        font-size: 1rem;
    }

    .visible .slideLeft {
        animation: none;
    }

    .visible .slideRight {
        animation: none;
    }

    .slideDown {
        animation: none;
    }

    .section, #hero {
        padding: 0 15px;
    }

    #hero .row {
        margin-top: 56px;
        padding: 30px 0;
    }

    #hero .profileImg {
        max-width: 280px;
    }

    .iconBox {
        /*margin: 30px 24px;*/
        margin: 20px 10px
    }

    .row .iconBox p {
        font-size: .8rem;
    }

    .lightboxCard {
        width: calc(50% - 4px);
        padding: 10px;
    }

    .lightboxCard > div:first-child {
        height: 200px;
    }

    .lightboxCard .modal-header.Sticky {
        padding: 10px;
    }

    .visible .slideLeft, .visible .slideRight, .slideDown, .visible .slideUp, .slideUp.delayed, .slideUp.delayed2 {
        animation: none;
    }

    .section {
        opacity: 1;
    }

}
